*{
	font:normal normal bold 14px/1 "Comic Sans MS",cursive,sans-serif;
}
#footer
{
	margin-top: 10px;
	/*background-color: #ccc;*/
	height: 100px;
	padding: 10px; 
}
body{
	position: relative;
	/*background-image: url('../images/bg.jpg');*/
	background-position-x: center;
    background-position-y: top;
    background-position: center top;
    background-repeat: no-repeat;
}
